<div class="bg-[#f7f7f5]">
  <div class="flex justify-between items-center mx-10 py-5">
    <div id="Search" class="relative w-64">
      <i
        class="fa-solid fa-magnifying-glass absolute left-2 top-1/2 -translate-y-1/2 text-gray-400"
      ></i>

      <input
        [value]="searchText()"
        type="text"
        placeholder="Search Employee"
        (input)="onSearch($event)"
        class="border rounded-md border-gray-400 text-gray-600 text-sm pl-8 pr-3 py-2"
      />
    </div>
    <!-- <h1>{{ searchText }}</h1> -->
    <div>
      <i class="fa-solid fa-filter relative text-sm left-5 text-gray-400"></i>
      <select
        id="filter by role"
        (input)="onFilter($event)"
        class="border border-gray-500 rounded-sm text-sm px-5 py-2 text-gray-500 cursor-pointer"
      >
        <option value="">Apply Filter</option>
        <option value="HR">HR</option>
        <option value="Employee">Employee</option>
      </select>
    </div>
    <div>
      <button
        routerLink="/employees/new"
        class="py-2 px-4 border rounded-md text-sm text-white bg-[#0d048a91] cursor-pointer hover:hover:bg-[#271ad391]"
      >
        + Add Employee
      </button>
    </div>
  </div>
  <div
    class="min-h-[calc(100vh-70px)] flex flex-col items-center justify-center text-center bg-[#f7f7f5]"
  >
    <div class="flex flex-col flex-wrap justify-center p-4">
      @if (filteredEmployees().length) {
        <div class="flex flex-wrap justify-center">
          @for (emp of filteredEmployees(); track emp.empId) {
            <div class="my-4 mx-6 w-2.5/12">
              <app-employee-card [emp]="emp"></app-employee-card>
            </div>
          }
        </div>
      } @else {
        <div>
          <ng-template #noEmps class="text-center">
            <h1>No Employees are Found here....!</h1>
          </ng-template>
        </div>
      }
    </div>
  </div>
</div>
